@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i');
/* font-family: 'Lato', sans-serif; */

.main-content{
    max-width: 1210px;
}

.sign-up{
    width: 33%;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: .75rem;    

}

.sign-up a:link{
    text-decoration: none;
    color: black;
}

.sign-up a:hover{
    color: red;

}

.social-buttons{
    display: flex;
    justify-content: center;
    width: 33%;  
}

.top-social{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #eee;
    max-width: 1210px;
    align-items: center;
    margin: 0, auto;
}